/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/*.mpr.bak
/*.mpr.lock
/modeler-merge-marker
/package.json
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/.idea
/data-snapshot.zip
/debug.log
/*.iml
/Gulpfile.js
/bin/
/out/
/GPUCache/
/theme-cache/
*.DS_Store
/nativemobile/builds/
