// 卡片
.card-box {
    background-color: $bg-color-secondary;
    border-radius: 2px;
    overflow: hidden;
    &>.card-head {
        display: flex;
        padding: 16px 24px;
        border-bottom: 1px solid #f0f0f0;
        justify-content: space-between;
        align-items: center;
        &>.text {
            font-size: 16px;
            font-weight: 500;
            color: $font-color-header;
        }
    }
    .card-content {
        padding: 24px;
    }
}

// 卡片-内容
.card-content-box {
    padding: 16px 24px;
    background-color: $bg-color;
    .card-left-box {
        width: 103px;
        height: 103px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 2px;
        background-color: #FFF;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .card-right-box {
        margin-left: 16px;
        .card-head {
            color: $font-color-header;
            font-weight: 500;
        }
        .card-item {
            display: flex;
            align-items: center;
            margin-top: 8px;
            color: $font-color-detail;
            .icon {
                margin-right: 8px;
                font-size: 14px;
            }
            .icon-left {
                margin-right: 8px;
                font-size: 14px;
                color: #8a6d3b;
            }
            .text {
                display: inline-block;
                margin-right: 8px;
            }
            .text-left {
                min-width: 48px;
                margin-right: 24px;
            }
        }
    }
}

// 卡片-带标题
.card-beitHead-box {
    border: 1px solid #E9E9E9;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    .head-top {
        display: flex;
        padding: 16px 24px;
        border-bottom: 1px solid #f0f0f0;
        background-color: $bg-color;
        .text {
            flex: 1;
            font-size: 14px;
            color: $font-color-header;
            font-weight: 500;
        }
        .more {
            color: $brand-primary;
        }
    }
    .head-box {
        border-top: 1px solid rgba(0,0,0,0.15);
        // border-radius: 4px 4px 0 0;
    }
    .card-content {
        padding: 24px;
    }
    .card-left-box {
        width: 103px;
        height: 103px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 2px;
        background-color: #FFF;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .card-right-box {
        margin-left: 24px;
        .card-item {
            display: flex;
            margin-bottom: 12px;
            .text-left {
                display: inline-block;
                width: 70px;
                color: $font-color-header;
            }
            .text {
                color: $font-color-detail;
            }
        }
    }
}


// 字典查看样式
.View-formdict.form-group{
    margin: 0;
    align-items: center;
    .col-sm-3 {
        padding: 0;
        margin: 0;
        max-width: 100%;
        flex-basis: content;
        margin-right: 4px;
    }
    .col-sm-9 {
        padding: 0;
    }
    .form-control-static {
        border: none;
    }
}

//头部-租户选择样式
.selectBgBlack .ant-select{
    .ant-select-arrow{
      color: #fff;
    }
    > .ant-select-selector {
      background: rgba(255,255,255,0.2) !important;
      color: #fff;
      border: none !important;
    }
  }
  
// 抽屉查看样式
.textViewLabel {
    width: 89px;
    color: rgba(0,0,0,0.85);
    font-size: 14px;
    margin-right: 16px;
}
.textViewContent {
    width: 295px;
    color: rgba(0,0,0,0.65);
    font-size: 14px;
}


// 垂直表单
.width-contaniner {
    width: 346px;
    margin: 0px 24px;
  }


//   upload 红点
.require-redPoint-upload {
    .ant-form-item-label{
        position: relative;
        overflow: visible;
            &::after {
                content: "*";
                position: absolute;
                left: -10px;
                top: 2px;
                font-size: 5px;
                color: #ff4d4f;
            }
    }

}


.debug-tags {
    background: #F6FFED;
    border: 1px solid #B7EB8F;
  }
  
  .debug-tags-error {
    background: #fff1f0;
    border: 1px solid #ffa39e;
  }
  
  .reset-groupbox-padding.mx-groupbox {
    &>.mx-groupbox-body {
      padding: 0;
    }
  }

// 重置layout版本表格
  .reset-listview-table-title .row div{
    background: #FAFAFA;
    padding: 16px 5px;
  }
  .reset-list-view >ul >li{
    background: #fff;
    border: 1px solid #EBEBEB;
    border-top: none;
    padding: 16px 0;
    &:hover {
      background: #FAFAFA;
    }
  }